/* 
 * ~/.config/waybar/round.css
 *
 * This stylesheet has round modules and titles. 
 */

window#waybar {
    color: @white; 
    background-color: transparent;
}

.modules-left {
    background-color: @transparent-black; 
    border-radius: 0 20px 20px 0;
    /* Coloured modules must hit the border! */
    padding-right: 0; 
}

.modules-center {
    background-color: @transparent-black;
    border-radius: 20px;
}

.keep .modules-center {
    background-color: transparent;
    padding: 0 10px;
}

.modules-right {
    background-color: @transparent-black;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
}

#workspaces button {
    border-radius: 20px;
}

#workspaces button:hover,
#workspaces button.focused {
    background-color: @accent;
    border-radius: 20px;
    color: @white;
}

#custom-media {
    border-radius: 0 20px 20px 0;
    padding-right: 10px;
}

