[Desktop Entry]
Type=Application

Name=cmus
GenericName=cmus ncurses music player
Comment=Small, fast and powerful console music player for Unix-like operating systems.
Icon=cmus

Exec=cmus
Terminal=true
Categories=Utility
Keywords=music;player
