[Desktop Entry]
Type=Application

Version=1.0
Name=Zeus Matterhorn
GenericName=Mattermost Terminal Client
Comment=Zeus WPI Matterhorn server
Icon=/usr/share/icons/Win11-black/apps/scalable/matterhorn.svg

Exec=matterhorn
Terminal=true
Categories=Utility
Keywords=chat;
