[Desktop Entry]
Type=Application

Name=Newsboat
GenericName=newsboat RSS reader
Comment=An RSS/Atom feed reader for text terminals
Icon=newsboat

Exec=newsboat
Terminal=true
Categories=Utility
Keywords=reader;rss;atom;feed;news;music
