[Desktop Entry]
Type=Application

Version=1.0
Name=Typora Personal
GenericName=Personal notebook in Typora
Comment=My personal notes
Icon=/usr/share/icons/Win11-black/apps/scalable/typora-personal.svg

Exec=typora "/home/tdpeuter/Documents/synchronisatie/UGent/Notebooks/Tibo De Peuter/"
Categories=Office
Keywords=notes;personal;typora;Tibo\ De\ Peuter;
