[Desktop Entry]
Type=Application

Version=1.0
Name=Typora UGent
GenericName=Studies notebook in Typora
Comment=My studying notes
Icon=/usr/share/icons/Win11-black/apps/scalable/typora-ugent.svg

Exec=typora "/home/tdpeuter/Documents/synchronisatie/UGent/Notebooks/Informatica J1 2021-2022/"
Categories=Office
Keywords=notes;studies;ugent;typora;Tibo\ De\ Peuter;
